@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Noto+Sans:wght@500;700&display=swap');


*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color:#140f19;
    font-family: 'noto-sans', sans-serif;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
};


.left-page{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.left-page h1 {
    color:#00F474;
    text-align: center;
    margin-top: 3rem;
    font-size: 3rem;
}

.image{
    width: 35vw;
    margin-top: 10%;
}

.right-page{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-page h1{
    color:#00F474;
    text-align: center;
}

.card-login{
    background-color:#352248;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 400px;
    border-radius: 1rem;
    transform: scale(1.23);
}


.name-user, .password-user{
    padding: 0.5rem ;
    display: flex;
    flex-direction: column;
}


input{
    border-radius: 0.4rem;
    width: 100%;
    background-color:#7255a7;
    border:none;
    outline: none;
    padding: 0.6rem 0.8rem;
    margin: auto;
    color: #f0ffffde;
}



label{
    padding-bottom: 0.4rem;
    color: #f0ffffde;
    width: 100%;
}

.div-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-login{
    background-color: #00F474;
    border: none;
    border-radius: 0.5rem;
    width: 95%;
    padding: 0.8rem 0rem;
    font-weight: 800;
    letter-spacing: 4px;
    cursor: pointer;
    margin-top: 1rem;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

input::placeholder{
    color: #f0ffffde
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .left-page{
        display: flex;
        width: 100vw;
        justify-content: center;
    }

    .image{
        width: 70%;
        margin-top: 10vh;
    }
    .left-page > h1{
        display: none;
    }

    .right-page{
        margin-top: 10vh;
        width: 70%;
    }
}
